/************************
****LOADING ANIM*********
************************/


@keyframes loading-container {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes spoons-color {
    0% {
        color: $primary-color;
    }

    20% {
        color: $primary-color;
    }

    40% {
        color: $secondary-color;
    }

    60% {
        color: $secondary-color;
    }

    80% {
        color: $tertiary-color;
    }

    100% {
        color: $tertiary-color;
    }
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}



/*************************
*****HEARTS ANIMATION*****
**************************/

.heart {
    display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
    position: relative;

    .unfilled {
        position: absolute;
        transition: color 1000ms;
    }

    &:hover .unfilled {
        color: transparent;
    }

    .filled {
        position: absolute;
        background: $heart-color;
        background-clip: text;
        color: transparent;
        transform: scale(0);
        transition: transform 500ms;
    }

    &:hover .filled {
        background: $heart-color;
        background-clip: text;
        color: transparent;
        transform: scale(1);
    }

}



/***********************
*****MENU ANIMATION*****
************************/

@keyframes FadeIn {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
}

.menu-entrees {
    transform: scale(0);
    animation: FadeIn 1s forwards;
    animation-delay: 0.2s;
  };

.menu-plats {
    transform: scale(0);
    animation: FadeIn 1s forwards;
    animation-delay: 0.4s;
}

.menu-desserts {
    transform: scale(0);
    animation: FadeIn 1s forwards;
    animation-delay: 0.6s;
}
