/************************************
************ FONCTIONNEMENT *********
*************************************/

.fonctionnement {

    h3, p {
        font-weight: 500;
    }

    .card-fonctionnement {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding-left: 10px;

		.card-content {
            background-color: $bg-color-primary;
            width: 100%;
		    height: 72px;
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px #00000026;
		    padding-left: 30px;
            position: relative; //sert à .number

        }

        span {
			font-size: 18px;
			color: $fonctionnement-icon-color;
		}

        .fa-store {
			color: $primary-color;
		}

    }

    .number {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-color;
        width: 24px;
        height: 24px;
        font-size: 14px;
        color: white;
        border-radius: 50%;
        z-index: 1;
        position: absolute;
        left: -12px;
        bottom: 22px;
    }
    
}


@media (min-width: 1024px) {

	.cards-fonctionnement-container {
		display: flex;
		justify-content: space-between;
        padding-right: 40px;

		.card-fonctionnement {
			width: 32%;
		}
	}
}
