/************************************
************** HEADER ******************
*************************************/

.homepage-header {
    background-color: white;
    text-align: center;
    filter: drop-shadow(0px 2px 4px #00000045);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    
    .logo-header {
        width: 162px;
        object-fit:contain;
        padding-top: 10px;
    }
}
