/************************************
************** HEADER ******************
*************************************/

.homepage-header {
    background-color: white;
    text-align: center;
    filter: drop-shadow(0px 2px 4px #00000045);
    
    .logo-header {
        font-size: 30px;
        height: 63px;
        padding-top: 10px;
    }
}
